header {
  width: 100%;
  height: 70px;
  background: rgb(240, 240, 240);
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 224, 224);
  box-shadow: 0px 1px 5px 0px rgba(130, 130, 130, 0.75);
}

.entrada {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0%;
  right:0%;
  cursor:default;
  background-color: red;
  z-index: 1000;
}

.marca {
  height: 70px;
  display: inline-flex;
  align-items: center;
  font-size: 2.2rem;
}

h1 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2.5rem;
}

.burger {
  height: 70px;
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 10px;
  transition: color 0.5s;
  display: flex;
  align-items: center;
}

.burger :hover {
  color: #da73ff;
  transition: color 0.5s;
}

.menu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(240, 240, 240);
  transition: all 0.5s;
  transform: translateX(200%);
}
.fold {
  transform: translateX(0%);
}
nav {
  width: 100%;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
}

.menunav {
  vertical-align: middle;
}

ul {
  list-style: none;
}

li a {
  color: #333;
  transition: color 0.5s;
  height: 70px;
  line-height: 70px;
}

li a:hover {
  cursor: pointer;
  color: #da73ff;;
  transition: color 0.5s;
}



.marca a {
  cursor: pointer;
  color: #333333;
}

a:link, a:visited, a:hover, a:focus, a:active{
  color: none;
  text-decoration: none;
}


svg#bondi2 {
  width: 43px;
  height: 43px;
  fill: #333;
  padding: 2px;
  margin-left: 10px;
}


@media (min-width: 800px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .burger {
    display: none;
  }

  header nav ul li {
    display: inline;
    position: relative;
    padding: 8px;
    font-size: 14px;
  }

  nav {
    width: auto;
    display: contents;
  }
  .menu {
    width: auto;
    height: 70px;
  }

  svg#bondi2 {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  header nav ul li {
    font-size: 1.1rem;
    padding: 10px;
  }
}
